@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255; */
    --background: #ffffff;
    --foreground: #020817;

    --muted: #f1f5f9;
    --muted-foreground: #64748b;

    --popover: #ffffff;
    --popover-foreground: #020817;

    --card: #ffffff;
    --card-foreground: #020817;

    --border: #e2e8f0;
    --input: #e2e8f0;

    --accent: #f1f5f9;
    --accent-foreground: hsl(222.2 47.4% 11.2%);

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;

    --primary: 201, 110, 18;
    --primary-foreground: 255, 255, 255;

    --secondary: 255, 248, 151;
    --secondary-foreground: 0, 0, 0;

    --primary-dark: 134, 73, 12;
    --primary-dark-foreground: 255, 255, 255;

    --destructive: #ef4444;
    --destructive-foreground: #f8fafc;

    --tertiary: 246, 193, 1;
    --tertiary-foreground: 255, 255, 255;
  }

  body {
    /* color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb)); */
  }
}

@layer components {
  .btn {
    @apply flex justify-center rounded-md bg-btn-bg px-2 py-1 text-btn-foreground duration-200 hover:bg-opacity-50;
  }

  .btn-primary {
    --btn-color: var(--primary);
    --btn-foreground: var(--primary-foreground);
  }

  .btn-prev {
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    transition-duration: 0.2s;
    line-height: 100%; /* 128px */
    @apply flex justify-center text-primary drop-shadow-xl hover:text-opacity-50;
  }
}
