@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255; */
    --primary: 201, 110, 18;
    --primary-foreground: #ffffff;
    --secondary: #fff897;
    --secondary-foreground: #000000;
    --destructive: #c21919;
    --destructive-foreground: #ffffff;
    --tertiary: #f6c101;
    --tertiary-foreground: #ffffff;
  }

  * {
    font-family: Itim, cursive;
  }

  body {
    /* color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb)); */
  }
}
