.BreweryDetail .title-header {
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  @apply bg-gradient-to-r from-primary-dark-foreground from-50% to-primary-dark to-50% bg-clip-text text-transparent underline drop-shadow-md;
}

.BreweryDetail .text-field {
  @apply box-border flex w-full flex-col justify-between gap-2 rounded-lg border border-primary bg-white px-5 shadow-md;
}

.BreweryDetail .text-label {
  position: relative;
  color: #c96e12;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: right;
  @apply flex items-center gap-1 overflow-hidden rounded-t-xl py-3 text-secondary-foreground;
}

.BreweryDetail .text-label::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  @apply box-border border border-t-muted;
}

/* .BreweryDetail .text-label span {
  @apply drop-shadow-md;
} */

.BreweryDetail .text-detail {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  @apply pb-3 text-muted-foreground;
}
